<!doctype html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">

      <title>Ifter Banner 4</title>

      <link rel="stylesheet" href="ifter-countdown-4/assets/style/style.css" inline>
</head>

<body>
      <div class="main">
            <div class="title">Today's Ifter Time<br> <span>Counts</span></div>
            <div id="remaining-hour">
                  <div class="box hour">
                        <span class="counter">00</span>
                        <span class="text">Hours</span>
                  </div>
                  <div class="box minutes">
                        <span class="counter">00</span>
                        <span class="text">Minutes</span>
                  </div>
                  <div class="box seconds">
                        <span class="counter">00</span>
                        <span class="text">Seconds</span>
                  </div>
            </div>

            <p class="footer">#HolyRomadanIfterCounts</p>

            <a href="https://sharetrip.net" class="link" target="_blank"> </a>     
      </div>

      <!-- Js Links -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
      <script src="ifter-countdown-4/assets/scripts/main.js" inline></script>
</body>

</html>