<!doctype html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Polymer Ads 300x250</title>

   <link rel="stylesheet" href="polymer-google-ad/assets/style/style.css" inline>
</head>

<body>
   <div class="polymer_bg">
      <div class="pl_img pl_img_anower">
         <img src="polymer-google-ad/assets/images/anower.png" inline alt="Polymer">
      </div>
      <div class="pl_img pl_img_no_1">
         <img src="polymer-google-ad/assets/images/no-1.png" inline alt="Polymer">
      </div>
      <div class="pl_img pl_img_pipe">
         <img src="polymer-google-ad/assets/images/pipe.png" inline alt="Polymer">
      </div>
      <div class="pl_img pl_img_polymer">
         <img src="polymer-google-ad/assets/images/polymer.png" inline alt="Polymer">
      </div>
      <div class="pl_img pl_img_pump">
         <img src="polymer-google-ad/assets/images/pump.png" inline alt="Polymer">
      </div>
      <div class="pl_img pl_img_long_pump">
         <img src="polymer-google-ad/assets/images/long-pump.png" inline alt="Polymer">
      </div>

      <a href="https://sharetrip.net/" class="abs-btn" target="_blank"></a>
   </div>
</body>

</html>