<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regal Google Ad</title>
    <link rel="stylesheet" href="vision-freeze-main/assets/style/style.css" inline />
</head>

<body>

    <div class="regal">
        <div class="regal__img regal__img-4">
            <img src="vision-freeze-main/assets/images/4.png" inline alt="Regal Image">
        </div>
        <div class="regal__img regal__img-3">
            <img src="vision-freeze-main/assets/images/3.png" inline alt="Regal Image">
        </div>
        <div class="regal__img regal__img-2">
            <a href="https://sharetrip.net/" target="_blank">
                <img src="vision-freeze-main/assets/images/2.png" inline alt="Regal Image">
            </a>
        </div>
        <div class="regal__img regal__img-1">
            <img src="vision-freeze-main/assets/images/1.png" inline alt="Regal Image">
        </div>
    </div>
</body>

</html>