<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regal Google Ad</title>

    <link rel="stylesheet" href="regal-google-ad/assets/style/style.css" inline>
</head>

<body>
    <div class="regal">
        <div class="regal__img regal__img-4">
            <img src="regal-google-ad/assets/images/4.png" inline alt="Regal Image">
        </div>
        <div class="regal__img regal__img-3">
            <img src="regal-google-ad/assets/images/3.png" inline alt="Regal Image">
        </div>
        <div class="regal__img regal__img-2">
            <img src="regal-google-ad/assets/images/2.png" inline alt="Regal Image">
        </div>
        <div class="regal__img regal__img-1">
            <img src="regal-google-ad/assets/images/1.png" inline alt="Regal Image">
        </div>

        <a href="https://sharetrip.net/" class="abs-btn" target="_blank"></a>
    </div>
</body>

</html>