<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Drag & Drop Banner</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <link rel="stylesheet" href="dragg-item/assets/style/style.css" inline>

</head>

<body>

    <div class="main">

        <div class="bg-img">
            <img src="dragg-item/assets/images/bg.png" inline alt="Background Image">
        </div>

        <div class="item item-1">
            <img src="dragg-item/assets/images/1.png" inline alt="Banner Image">
        </div>

        <div class="item item-2">
            <img src="dragg-item/assets/images/2.png" inline alt="Banner Image">
        </div>

        <div class="item item-3">
            <img src="dragg-item/assets/images/3.png" inline alt="Banner Image">
        </div>

        <div id="transparent-bg"></div>
        <div class="reval">
            <img src="dragg-item/assets/images/fire2.gif" inline alt="Fire">
        </div>

        <a href="https://sharetrip.net" target="_blank" class="link">
            <img src="dragg-item/assets/images/7.jpg" inline class="bg2" alt="Background">
        </a>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
    <script src="dragg-item/assets/scripts/plain-draggable.min.js" inline></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
    <script src="dragg-item/assets/scripts/main.js" inline></script>
</body>

</html>