<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo Project</title>

    <link rel="stylesheet" href="ifter-countdown-1/assets/vendor/flipclock.css" inline/>
    <link rel="stylesheet" href="ifter-countdown-1/assets/style/style.css" inline/>
</head>
<body>
    <div class="main">
        <div class="clock"></div>
        <div class="title">Remaning Time of <br> Todays Ifter</div>

        <a href="#" class="click-me-btn">Click Me</a>

        <a href="https://sharetrip.net" class="link" target="_blank"> </a>
  </div>
 

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="ifter-countdown-1/assets/vendor/flipclock.min.js" inline></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
  <script src="ifter-countdown-1/assets/scripts/main.js" inline></script>
</body>
</html>